In [2]:
import pandas as pd

data = pd.read_csv("listings.csv")

In [19]:
top_two = data[data.isSold == 1].bids.apply(lambda x: eval(x)[:2])

Source: [eBay article on automatic bidding](https://www.ebay.co.uk/help/buying/bidding/automatic-bidding?id=4014#:~:text=When%20someone%20else%20places%20a,larger%20in%20higher%20price%20brackets.&text=Occasionally%20you'll%20see%20bids%20increase%20by%20less)

In [24]:
def EBAY_INCREMENT(current):
    if current < 1:
        return 0.05
    elif current < 5:
        return 0.2
    elif current < 15:
        return 0.5
    elif current < 60:
        return 1
    elif current < 150:
        return 2
    elif current < 300:
        return 5
    elif current < 600:
        return 10
    elif current < 1500:
        return 20
    elif current < 3000:
        return 50
    else:
        return 100

In [27]:
def INTERVALS(current):
    if current < 1:
        return 1
    elif current < 5:
        return 5
    elif current < 15:
        return 15
    elif current < 60:
        return 60
    elif current < 150:
        return 150
    elif current < 300:
        return 300
    elif current < 600:
        return 600
    elif current < 1500:
        return 1500
    elif current < 3000:
        return 3000

In [49]:
def rule_used(bids):
    increment = EBAY_INCREMENT(bids[-1])
    if bids[0]-bids[-1] != increment:
        return 0
    else:
        return 1

df = pd.DataFrame()
df["ruleTriggered"] = top_two.apply(rule_used)
df["interval"] = top_two.apply(lambda bids: INTERVALS(bids[-1]))

In [53]:
df.groupby("interval").agg(["sum", "count", "mean"])

         ruleTriggered
                   sum count      mean
interval
1                    0     1  0.000000
5                    0     3  0.000000
15                  32    56  0.571429
60                 154   216  0.712963
150                 31    48  0.645833
300                 13    15  0.866667
600                 47    65  0.723077
1500                48    68  0.705882
3000                 2     2  1.000000