In [2]:
import sys
import pandas as pd
 
sys.path.append('../')

from functions import *

df = pd.read_csv("../../data/listings.csv", usecols=["id", "apple", "samsung", "amazon", "others", "sellerFeedbackScore", "isSold", "isPolice", "price"])
df = df[(df.isPolice == 0) & (df.isSold == 1)]

/Users/liumukun/anaconda3/lib/python3.8/site-packages/pandas/core/computation/expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [3]:
def calculate(row):
    R = row.sellerFeedbackScore
    min_cost_c = max(0.2-0.107*R,0)
    min_cost = max(0.458-0.078*R,0)
    max_cost = max(0.661-0.074*R,0)
    max_cost_c = max(0.76-0.011*R,0)
    
    std = 0
    
    if row.apple == 1:
        std = 298.1
    elif row.samsung == 1:
        std = 47.758
    elif row.amazon == 1:
        std = 17.49
    elif row.others == 1:
        std = 21.31
        
    min_cost_c = min_cost_c*std
    min_cost = min_cost*std
    max_cost = max_cost*std
    max_cost_c = max_cost_c*std
    
    return (min_cost_c, min_cost, max_cost, max_cost_c)

In [4]:
df2 = df.apply(calculate, axis=1, result_type="expand")
df2.columns = ("min_cost_c", "min_cost", "max_cost", "max_cost_c")

df = pd.concat([df, df2], axis=1)

In [5]:
apple = df[df.apple == 1]
amazon = df[df.amazon == 1]
samsung = df[df.samsung == 1]
others = df[df.others == 1]

Table 9 Total - Percentage

In [6]:
df[["min_cost_c", "min_cost", "max_cost", "max_cost_c", "price"]].sum()*100/df.price.sum()

min_cost_c      0.129712
min_cost        0.655698
max_cost        1.358268
max_cost_c      5.388223
price         100.000000
dtype: float64

Table 9 Total - Nominal

In [9]:
df[["min_cost_c", "min_cost", "max_cost", "max_cost_c", "price"]].sum()/df.shape[0]

min_cost_c      0.247388
min_cost        1.250549
max_cost        2.590492
max_cost_c     10.276431
price         190.720214
dtype: float64

Table 9 Others - Percentage

In [7]:
others[["min_cost_c", "min_cost", "max_cost", "max_cost_c", "price"]].sum()*100/others.price.sum()

min_cost_c      0.187821
min_cost        0.537181
max_cost        0.932695
max_cost_c      3.984627
price         100.000000
dtype: float64

Table 9 Others - Nominal

In [11]:
others[["min_cost_c", "min_cost", "max_cost", "max_cost_c", "price"]].sum()/others.shape[0]

min_cost_c     0.069376
min_cost       0.198420
max_cost       0.344512
max_cost_c     1.471811
price         36.937222
dtype: float64

Table 9 Apple - Percentage

In [9]:
apple[["min_cost_c", "min_cost", "max_cost", "max_cost_c", "price"]].sum()*100/apple.price.sum()

min_cost_c      0.133272
min_cost        0.706168
max_cost        1.489260
max_cost_c      5.704342
price         100.000000
dtype: float64

Table 9 Apple - Nominal

In [12]:
apple[["min_cost_c", "min_cost", "max_cost", "max_cost_c", "price"]].sum()/apple.shape[0]

min_cost_c      0.722319
min_cost        3.827354
max_cost        8.071631
max_cost_c     30.916931
price         541.989441
dtype: float64

Table 9 Amazon - Percentage

In [15]:
amazon[["min_cost_c", "min_cost", "max_cost", "max_cost_c", "price"]].sum()*100/amazon.price.sum()

min_cost_c      0.012818
min_cost        0.175865
max_cost        0.411270
max_cost_c      3.023609
price         100.000000
dtype: float64

Table 9 Amazon - Nominal

In [13]:
amazon[["min_cost_c", "min_cost", "max_cost", "max_cost_c", "price"]].sum()/amazon.shape[0]

min_cost_c     0.004292
min_cost       0.058885
max_cost       0.137705
max_cost_c     1.012389
price         33.482823
dtype: float64

Table 9 Samsung - Percentage

In [11]:
samsung[["min_cost_c", "min_cost", "max_cost", "max_cost_c", "price"]].sum()*100/samsung.price.sum()

min_cost_c      0.176208
min_cost        0.571322
max_cost        0.925542
max_cost_c      4.486082
price         100.000000
dtype: float64

Table 9 Samsung - Nominal

In [14]:
samsung[["min_cost_c", "min_cost", "max_cost", "max_cost_c", "price"]].sum()/samsung.shape[0]

min_cost_c     0.124383
min_cost       0.403290
max_cost       0.653329
max_cost_c     3.166674
price         70.588844
dtype: float64